<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Video Chat</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js"></script>
  <script src="http://feather.aviary.com/js/feather.js" type="text/javascript"></script>
  <script src="/app.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/app.css" />
</head>
<body>
  <div id="bodyContainer">
    <div id="imageContainer"> 
      <img src="/images/logo2.png" alt="" id="logoImg" />
    </div>
    <div id="buttonControls">
      <img id="stepTwo" src="/images/two.png" alt="" />
      <span id="takePicture" class="aButton">takePicture</span>
      <span id="makeImage" class="aButton">makeImage</span>
      <img id="stepThree" src="/images/three.png" alt="" />
    </div>
    <div id="videos">
      <div id="myPublisherDiv"></div>
    </div>
  </div>

  <div id="overlay">
    <div id="internalContainer">
      <img src="/images/success.png" alt="" />
      <img src="http://featherfiles.aviary.com/2013-03-26/g0IDiU3rYkelwco0JelY7Q/c10d195e91624196924d207e645e77f0.png" id="aviaryResult" alt="" />
      <div id="saveInfo">To save the picture, right click, select Save Image As ...</div>
      <span id="closeOverlay" class="aButton">Close</span>
    </div>
  </div>
  <img id="stepOne" src="/images/one.png" alt="" />
  <canvas id="bigCanvas"></canvas>
  <footer>
    The code for this project is open sourced on <a href="https://github.com/songz/AviaryOpenTok">Github</a>. If you have any questions, ask <a href="http://twitter.com/songz">me</a>!
  </footer>

  <script type="text/javascript">
    init("<%= OpenTokKey %>", "<%= sessionId %>", "<%= token %>", "<%= AviaryKey %>");
  </script>
</body>
</html>
