<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Video Chat</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js"></script>
  <script src="http://feather.aviary.com/js/feather.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/app.css" />
</head>
<body>
  <div id="overlay">
    <div id="internalContainer">
      <img src="/success.png" alt="" />
      <img src="http://featherfiles.aviary.com/2013-03-26/g0IDiU3rYkelwco0JelY7Q/c10d195e91624196924d207e645e77f0.png" id="aviaryResult" alt="" />
      <div id="saveInfo">To save the picture, right click, select Save Image As ...</div>
      <span id="closeOverlay" class="aButton">Close</span>
    </div>
  </div>

  <div id="bodyContainer">
    <div id="imageContainer"> 
      <img src="/logo2.png" alt="" id="logoImg" />
    </div>
    <img id="stepTwo" src="/two.png" alt="" />
    <img id="stepThree" src="/three.png" alt="" />
    <div id="buttonControls">
      <span id="takePicture" class="aButton">takePicture</span>
      <span id="makeImage" class="aButton">makeImage</span>
    </div>
    <div id="videos">
      <div id="myPublisherDiv"></div>
    </div>
  </div>
  <canvas id="bigCanvas"></canvas>

  <img id="stepOne" src="/one.png" alt="" />
	
  <script type="text/javascript">
    // Initialize API key, session, and token, generated from server side
    var apiKey = "<%= OpenTokKey %>";
    var sessionId = "<%= sessionId %>";
    var token = "<%= token %>";
    var videoStreamers = [];
    var canvas = document.getElementById("bigCanvas");

    // Create publisher and start streaming into the session
    var publisher = TB.initPublisher(apiKey, 'myPublisherDiv', {width:320, height:240});

    // Initialize session, set up event listeners, and connect
    var session = TB.initSession(sessionId);
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);
    session.connect(apiKey, token);
    
    function sessionConnectedHandler(event) {
      session.publish(publisher);
      subscribeToStreams(event.streams);

      // Keep track of video streams so we can take pictures later
      videoStreamers.push( publisher );
    }

    function streamCreatedHandler(event) {
      // Subscribe to any new streams that are created
      subscribeToStreams(event.streams);
    }

    function subscribeToStreams(streams) {
      for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
        if (streams[i].connection.connectionId == session.connection.connectionId) {
          return;
        }

        // Create the div to put the subscriber element in to
        var div = document.createElement('div');
        div.setAttribute('id', 'stream' + streams[i].streamId);
        $("#videos").append( div );

        // Subscribe to the stream
        videoStreamers.push( session.subscribe(streams[i], div.id, {width:320, height:240}) );
      }
    }
    
    var featherEditor = new Aviary.Feather({
        apiKey: '<%= AviaryKey %>',
        apiVersion: 2,
        image: 'resultImage',
        onSave: function(imageID, newURL) {
          featherEditor.close();
          $("#aviaryResult").attr("src", newURL);
          $("#overlay").slideDown('fast');
          return false;
        }
    });

    $("#takePicture").click( function(){
      $("#imageContainer").html("");
      var totalWidth = 0;
      var maxHeight = 0;

      // Populate array of images
      for( var i=0; i<videoStreamers.length; i++){
        if( videoStreamers[i] ){
          var data = videoStreamers[i].getImgData();
          if( data && data.length > 10 ){
            var img = new Image();
            img.src = "data:image/png;base64," + data;
            img.onload = function(){
              totalWidth += this.width;
              if( this.height > maxHeight ){
                maxHeight = this.height;
              }
            };
            $("#imageContainer").append( img );
          }
        }
      }

      $("#makeImage").click(function(){
        canvas.width = totalWidth;
        canvas.height = maxHeight;
        var ctx = canvas.getContext('2d');
        var startX = 0;

        var images = $("#imageContainer img");
        for( var i=0; i<images.length; i++){
          ctx.drawImage( images[i], startX, 0 );
          startX += images[i].width;
        }
        
        var data = canvas.toDataURL("image/png");
        $("#imageContainer").html( "" );
        var resultImage = $("<img />", {id: "resultImage"});
        $("#imageContainer").append( resultImage );
        $("#resultImage").attr("src", data);
        featherEditor.launch();
      });
    });

    $("#closeOverlay").click(function(){
        $("#overlay").slideUp('fast');
    });
  </script>
</body>
</html>


