body{
  background-image:url(/images/bgline.png);
}
#bodyContainer{
  position: fixed;
  width: 980px;
  height: 760px;
  top:50%;
  margin-top: -380px;
  left: 50%;
  margin-left: -490px;
}

/* div for showing pictures taken */
#imageContainer{
  text-align: center;
  width: 980px;
  height: 365px;
  overflow: auto;
  white-space:nowrap;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -490px;
}
#logoImg{
  margin-top: 40px;
}
/* end of pictures taken */

/* Buttons! */
#buttonControls{
  text-align:center;
  position:absolute;
  bottom: 310px;
  width: 100%;
  z-index: 5;
}
.aButton{
  padding: 15px;
  background-color: #aaf;
  margin: 10px;
  border: 5px solid #88c;
  cursor: pointer;
}
.aButton:hover{
  background-color: rgba(10,10,90, 0.8);
  transition: all 0.7s;
  -moz-transition: all 0.7s; /* Firefox 4 */
  -webkit-transition: all 0.7s; /* Safari and Chrome */
  color: #fff;
}
/* end of buttons */

/* div to contain all videos */
#videos{
  text-align:center;
  position:absolute;
  bottom: 10px;
  width: 100%;
  z-index: 5;
}
#videos > div{
  text-align: left;
}
#videos div{
  display:inline-block;
}
/* end of video container */

/* canvas off screen, used to stitch images */
#bigCanvas{
  position: fixed;
  top: -1000px;
}
/* end of off screen canvas */

/* Overlay to show processed aviary picture */
#overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(10,10,10,0.95);
  color: #eee;
  display:none;
}
#internalContainer{
  margin-top: 100px;
  text-align:center;
}
#internalContainer img{
  margin: 30px;
}
#saveInfo{
  font-size: 24px;
}
#closeOverlay{
  margin-top: 40px;
  display:inline-block;
  width: 120px;
}
/* end of overlay */

/* step one image */
#stepOne{
  position:fixed;
  top: 0px;
  right: 0px;
}
/* end of image */
