body{
  background-image:url(/bgline.png);
}
#bigCanvas{
  position: fixed;
  top: -1000px;
}
#videos{
  text-align:center;
  position:absolute;
  bottom: 10px;
  width: 100%;
  z-index: 5;
}
#videos > div{
  text-align: left;
}
#videos div{
  display:inline-block;
}
#imageContainer{
  text-align: center;
  width: 1280px;
  overflow: auto;
  white-space:nowrap;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -640px;
  height: 480px;
}
#stepThree{
  position:absolute;
  bottom: 260px;
  right: 20px;
  z-index: 6;
}
#stepTwo{
  position:absolute;
  bottom: 260px;
  left: 20px;
  z-index: 6;
}
#buttonControls{
  text-align:center;
  position:absolute;
  bottom: 280px;
  width: 100%;
  z-index: 5;
}
.aButton{
  padding: 15px;
  background-color: #aaf;
  margin: 10px;
  border: 5px solid #88c;
  cursor: pointer;
}
.aButton:hover{
  background-color: rgba(10,10,90, 0.8);
  transition: all 0.7s;
  -moz-transition: all 0.7s; /* Firefox 4 */
  -webkit-transition: all 0.7s; /* Safari and Chrome */
  color: #fff;
}
#bodyContainer{
  position: fixed;
  width: 1280px;
  height: 900px;
  top:50%;
  margin-top: -450px;
  left: 50%;
  margin-left: -640px;
}
#logoImg{
  margin-top: 100px;
}

#overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(10,10,10,0.95);
  color: #eee;
  display:none;
}

#internalContainer{
  margin-top: 100px;
  text-align:center;
}
#internalContainer img{
  margin: 30px;
}
#saveInfo{
  font-size: 24px;
}
#closeOverlay{
  margin-top: 40px;
  display:inline-block;
  width: 120px;
}


#stepOne{
  position:fixed;
  top: 0px;
  right: 0px;
}
